{% extends "index.html" %}
{% block references %}

{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
            <h1 class="page-header">Data Quality Issues - Statistical</h1>
            <table id="result-table" class="table table-striped">
                <thread>
                    <th>Site</th>
                    <th>Issue</th>
                    <th>Resolved</th>
                </thread>
                <tbody>
                    {% for row in config["data"]["data"] %}
                        <tr>
                            {% for column in row %}
                                <td>{{ column }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ul class="pagination">
                {% if config["data"]["current_page"] > 1 %}
                    <li><a href="?per_page={{ config['data']['per_page'] }}&page={{ config['data']['current_page'] - 1 }}">«</a></li>
                {% endif %}
                {% for page in range(1, config['data']['page_count'] + 1) %}
                    {% if config["data"]["current_page"] == page %}
                        <li><a class="active">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?per_page={{ config['data']['per_page'] }}&page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if config["data"]["current_page"] < config["data"]["page_count"] %}
                    <li><a href="?per_page={{ config['data']['per_page'] }}&page={{ config['data']['current_page'] + 1 }}">»</a></li>
                {% endif %}
            </ul>

{% endblock %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="/static/javascript/tab_4.js"></script>
{% endblock %}