{% extends "index.html" %}
{% block references %}
<!--CSS for JsTree-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
    <!-- CSS bootstrap-slider-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.min.css"/>
{% endblock %}


{% block styles %}
    <style type="text/css">
        /*
        * Custom Styles for Charts
        */
        .chart .legend {
            fill: black;
            font: 14px sans-serif;
            text-anchor: start;
            font-size: 12px;
        }

        .chart text {
            fill: white;
            font: 10px sans-serif;
            text-anchor: end;
        }

        .chart .label {
            fill: black;
            font: 14px sans-serif;
            text-anchor: end;
        }

        .chartContainer{
            position:relative;

        }

        .bar:hover {
            fill: brown;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .labelChart {
            color: #428BCA;
            font-size: 1.2em;
            font-weight: 700;
            padding-left: 5px;
            position:absolute;
            top:100%;
            margin-top:-60px;
        }

        .labelSlide {
            font-weight: 700;
            padding-right: 10px;
            font-size: 1.4em;
        }

         /*
        * Others blocks on page
        */
        .blSlide {
            margin: 0 0 15px 5px;
        }

        .blTree {
            margin-bottom: 15px;
        }

        .pd-left-10 {
            padding-left: 10px;
        }

        .ft-wt-b {
            font-weight: 600;
        }

        .rigth{
            float: right;
        }

        .mg-rigth-10 {
            margin-right: 10px;
        }

        .border-none{
            border: none;
        }

        .has-error{
            border: 1px #ff0000 solid;
        }

        .pd-rigth-15{
            padding-right: 15px;
        }

        .pd-left-15{
            padding-left: 15px;
        }

        .blTreeScroll{
            max-width: 760px;
            max-height: 670px;
            overflow: auto;
        }
        /*
        * Model Window
        */
        .modal {
            text-align: center;
        }
        @media screen and (min-width: 768px) {
            .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
            }
        }
        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
    </style>
{% endblock %}


{% block sidebar %}
    <li class="active"><a href="#">Tab 1 <span class="sr-only">(current)</span></a></li>
    <li><a href="tab_2.html">Tab 2</a></li>
    <li><a href="tab_3.html">Tab 3</a></li>
    <li><a href="tab_4.html">Tab 4</a></li>
    <li><a href="tab_5.html">Tab 5</a></li>
{% endblock %}


{% block content %}
        <h1 class="page-header">Tab 1</h1>

        <div class="panel panel-primary">
            <div class="panel-body">
                Queries at regular intervals to gather patient count
                data for each patient observation type by year of observation, and for a random selection of
                higher-order interactions among observations and year.
                For i2b2/SHRINE networks, each entry in the ontology is considered a patient observation type.
            </div>
        </div>

        <h2 class="sub-header">Results Filter</h2>

        <div class="row">
            <div class="col-sm-6 blTreeScroll">
                <div id="jstree_div" class="blTree"></div>
            </div>
            <div class="col-sm-6">
                <div class="blSlide" id="blSlide">
                    <span class="labelSlide">YEAR SLIDE</span>
                    <span id="fromRange" class="pd-rigth-15"></span><input id="yearSlider" type="text" class="span2 hide" value=""><span id="toRange" class="pd-left-15"></span>
                </div>
                <div id="blCharts"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="">
                    <span class="labelSlide">NOTES</span>
                    <span class="rigth"><button type="button" id="btnAddComment" data-toggle="modal" data-target="#myModal" class="btn btn-default">Add Comment</button></span>
                </div>

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Add a new Comment</h4>
                            </div>
                            <div class="modal-body">
                                <form id="comment-form" class="form-horizontal col-sm-12">
                                    <div class="form-group">
                                        <label for="hospital" class="col-sm-2 control-label">Hospital:</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="hospital" id="hospital">
                                                <option value="">Select hospital...</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="comment" class="col-sm-2 control-label">Comment:</label>
                                        <div class="col-sm-10">
                                            <textarea id="comment" name="comment" class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary rigth">Send</button>
                                            <button type="button" data-dismiss="modal" class="btn btn-default rigth mg-rigth-10">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer border-none">
                                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Send</button>-->
                            </div>
                        </div>

                    </div>
                </div>

                <div id="blNotes"></div>
            </div>

        </div>
{% endblock %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<!-- JsTree -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<!-- bootstrap-slider-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js"></script>
<script src="/javascript/charts.js"></script>
<script src="/javascript/tab_1.js"></script>
{% endblock %}