{% extends "index.html" %}
{% block references %}

{% endblock %}


{% block styles %}

{% endblock %}


{% block sidebar %}
    <li><a href="tab_1.html">Aggregated Yearly Patient Counts with Annotations</a></li>
    <li><a href="#">Network Health through Automated Queries</a></li>
    <li><a href="tab_4.html">Patient Encounter Densities</a></li>
    <li class="active"><a href="tab_5.html">Data Quality Issues - Statistical<span class="sr-only">(current)</span></a></li>
{% endblock %}


{% block content %}
          <h1 class="page-header">Tab 5</h1>
          <div class="panel panel-primary">
            <div class="panel-body">
              Automatically flags statistical anomalies in count data based on comparisons of the parameters above between sites,
              between sequential results from the same query, and between different observation periods.
          </div>
          </div>
          <div class="row placeholders">
            <h2 class="sub-header">Statistical Anomalies</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Site</th>
                  <th>Possible Anomaly</th>
                  <th>Explanation</th>
                  <th>Resolved?</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>UCLA</td>
                  <td>Counts look incorrect - Demographics</td>
                  <td>Inconsistent compared to other sites</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td>UCSF</td>
                  <td>Counts look incorrect - Diagnosis</td>
                  <td>Inconsistent compared to previous results</td>
                  <td>No</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
{% endblock %}


{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="/javascript/stacked_bars.js"></script>
    <script src="/javascript/tab_5.js"></script>
{% endblock %}